<footer class="flex flex-wrap items-center justify-center h-36 flex-col bg-gray-100 bottom-0">
    <div class="footer-info  flex  text-center m2  p-1">
        <i class="mr-3 fa-brands fa-square-facebook"></i>
        <i class="mr-3 fa-brands fa-square-instagram"></i>
        <i class="mr-3 fa-brands fa-linkedin"></i>
    </div>
    <div class="company flex  text-center m-2 p-1 mr-3">
        &copy; Foodie Guy Private Limited 
    </div>
    <div class="links flex  text-center justify-items-center m-2 p-1">
        <a href="" class="hover:underline mr-3">Privacy</a>
        <a href="" class="hover:underline mr-3">Terms</a>
    </div>
</footer>