<!-- <footer class="">
    <div class="footer-info"></div>
    <div class="company">
        Foodie Guy Private Limited 
    </div>
    <div class="links">
        <a href="">Privacy</a>
        <a href="">Terms</a>
    </div>
</footer> -->